version: "2.3"

services:
  iot-media-api-php:
    image: xxxx.dkr.ecr.eu-central-1.amazonaws.com/atomy/iot-media-api-php:latest
    volumes:
      - php-sock:/sock
    environment:
      - NATS_HOST=nats.prod.google.com
      - NATS_PORT=4222

  iot-media-api-nginx:
    image: xxxx.dkr.ecr.eu-central-1.amazonaws.com/atomy/iot-media-api-nginx:latest
    volumes:
      - php-sock:/sock
    depends_on:
      - iot-media-api-php
    labels:
      - "traefik.enable=true"
      - "traefik.backend=iot-media-api-prod"
      - "traefik.frontend.rule=Host:stuff.prod.google.com"
      - "traefik.docker.network=web"

volumes:
  php-sock:

networks:
  web:
    external:
      name: web
