#!/bin/bash

set -e
set -x

if [[ ! -f "docker-compose.yml" ]]
then
  echo "Missing file *docker-compose.yml*!"
  exit 1
fi

scp -o StrictHostKeyChecking=no ~/.docker/config.json app@1.1.1.1:~/.docker/config.json
scp -o StrictHostKeyChecking=no docker-compose.yml app@1.1.1.1:/home/pi/apps/nats/docker-compose.yml

ssh -o StrictHostKeyChecking=no app@1.1.1.1 "cd /home/app/apps/nats && docker-compose pull && docker-compose up -d"